.checkout-main {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    margin-top: 50px;
    display: flex;
    gap: 2%;
    height: 800px;
}

.checkout-section {
    width: 39%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--pink);
    border-radius: 8px;
}

.checkout-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-top: 50px;
    width: 100%;
    padding: 0 50px;
}

.checkout-container h1 {
    font-size: var(--sub-heading);
    color: var(--black);
}

.checkout-container p {
    font-size: var(--paragraph);
    color: var(--black);
}

.checkout-form {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    width: 100%;
}

.checkout-form label {
    color: var(--black);
    width: 100%;
    margin-bottom: 15px;
}

.checkout-form label:nth-of-type(1) {
    width: 49%;
}

.checkout-form label:nth-of-type(2) {
    width: 49%;
}

.checkout-form label:nth-of-type(4) {
    width: 68%;
}

.checkout-form label:nth-of-type(5) {
    width: 14%;
}

.checkout-form label:nth-of-type(6) {
    width: 14%;
}

.checkout-form label input {
    background: none;
    padding: 8px;
    outline: none;
    border: 1px solid var(--black);
    border-radius: 3px;
    width: 100%;
    margin-top: 5px;
}

.checkout-form p {
    font-size: 1.2rem;
    color: var(--black);
    padding-top: 20px;
}

.btn-submit {
    background: var(--green);
    color: var(--ghostwhite);
    outline: none;
    margin-top: 20px;
    border: 1px solid var(--ghostwhite);
    padding: 8px 20px;
    border-radius: 8px;
    width: 70%;
}

.btn-submit:hover {
    background: var(--pink);
}

.checkout-image-container {
    width: 59%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.checkout-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.checkout-image-text {
    position: absolute;
    background: rgba(0,0,0,0.1);
    bottom: 5%;
    left: 5%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkout-name {
    font-size: 3.2rem;
}

.checkout-price {
    font-size: 2.6rem;
}

.checkout-price a {
    font-size: 2.8rem;
    color: var(--white);
    
}

.remove-car {
    background: var(--green);
    color: var(--ghostwhite);
    outline: none;
    margin-top: 8px;
    border: 1px solid var(--ghostwhite);
    padding: 8px 10px;
    border-radius: 8px;
    width: fit-content;
}

.remove-car:hover {
    background: var(--pink);
}

.submit-pop-up-container {
    position: absolute;
    background: rgba(5, 0, 0, 0.07);
    color: var(--black);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    width: 100%;
    height: 100vh;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.submit-pop-up {
    width: 100%;
    max-width: 450px;
    height: max-content;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 30px lightgray;
    overflow: hidden;
    padding-bottom: 20px;
}

.submit-pop-up img {
    height: 200px;
    object-fit: cover;
    border: none;
    user-select: none;
    margin: auto;
    display: block;
}

.pop-up-text {
    padding: 14px 32px;
}

.pop-up-text h1 {
    font-size: 2.2rem;
    padding-bottom: 10px;
    color: var(--green);
}
.pop-up-text p {
    font-size: 1.6rem;
    font-weight: 100;
}

.close-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.close {
    cursor: pointer;
    background: var(--green);
    color: var(--ghostwhite);
    outline: none;
    margin-top: 30px;
    border: 1px solid var(--ghostwhite);
    padding: 10px 38px;
    border-radius: 8px;
    width: fit-content;
}

.close:hover {
    background: var(--pink);
}

/******************************************
/* Media Queries
/*******************************************/
@media screen and (max-width:1700px) {
    .nav-menu {
        width: 100%;
    }
    .checkout-main {
        width: 100%;
        max-width: var(--max-width);
        padding: 0 50px;
        margin: auto;
        margin-top: 50px;
        display: flex;
        gap: 2%;
        height: 800px;
    }
}

@media screen and (max-width:1200px) {
    .checkout-main {
        width: 100%;
        max-width: var(--max-width);
        padding: 0 50px;
        margin: auto;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 2%;
        height: 1800px;
    }
    .checkout-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid var(--pink);
        border-radius: 8px;
    }
    .checkout-image-container {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
    }
    .checkout-container h1 {
        font-size: 2.8rem;
    }
    
    .checkout-container p {
        font-size: 1.4rem;
        padding-bottom: 20px;

    }
}

@media screen and (max-width:1024px) {


}

@media screen and (max-width:960px) {

    .hamburger {
        display: flex;
        align-items: center;
    }

    .closeham {
        display: none;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: var(--green);
        padding: 20px;
        border-radius: 0 0 0 8px;
    }

}
@media screen and (max-width:768px) {

}

@media screen and (max-width:635px) {
    .checkout-form label:nth-of-type(1) {
        width: 100%;
    }
    
    .checkout-form label:nth-of-type(2) {
        width: 100%;
    }
    
    .checkout-form label:nth-of-type(4) {
        width: 100%;
    }
    
    .checkout-form label:nth-of-type(5) {
        width: 100%;
    }
    
    .checkout-form label:nth-of-type(6) {
        width: 100%;
    }
}

@media screen and (max-width:480px) {

    .footer-contacts a{
        font-size: 1.2rem;
    }
    .bottom-footer-container p {
        font-size: 1rem;
        width: 100px;
    }
    .bottom-footer-container ion-icon {
        font-size: 1.2rem;
        padding: 5px;
    }
}

@media screen and (max-width:445px) {

}
