/******************************************
/* Contact Section
/*******************************************/

.contact-section {
    width: 100%;
    min-height: 80vh;
    display: flex;
}

.contact-details {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px;
}

.contact-box {
    width: 100%;
    max-width: 300px;
    height: 170px;
    display: flex;
    gap: 10px;
    border: 1px solid var(--pink);
    padding: 20px;
    border-radius: 8px;
}

.contact-box div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.contact-box span {
    color: var(--black);
}

.contact-box span a {
    color: var(--black);
    font-size: 1.6rem;
}

.contact-box div h2{
    color: var(--black);
    font-size: 2.4rem;
}

.contact-box div small{
    color: var(--black);
    font-size: 1.6rem;
}

.contact-box div small + span a {
    color: var(--black);
    font-size: 1.6rem;
}

.contact-box div address {
    color: var(--black);
    font-size: 1.6rem;
}

.contact-social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 300px;
}

.contact-social ion-icon {
    color: var(--black);
    font-size: 2.2rem;
    transition: .3s ease-in-out;
}

.contact-social ion-icon:hover {
    color: var(--pink);
    font-size: 2.2rem;
}

.contact-map {
    width: 70%;
    padding: 20px;
    border: 1px solid var(--pink);
    border-radius: 8px;
    margin: 50px;
}