
/******************************************
/* Email Section
/*******************************************/

.email-section {
    width: 100%;
    margin-top: 50px;
}

.email-container {
    width: 100%;
    max-width: var(--max-width);
    height: 75vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.email-form {
    width: 39%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    padding: 50px 120px;
    margin: 50px;
    border: 1px solid var(--pink);
    border-radius: 8px;
}

.email-form h2 {
    font-size: 2.2rem;
    color: var(--black);
    margin-bottom: 20px;
}

.email-form small {
    font-size: 1.2rem;
    font-weight: 200;
    color: var(--black);
}

.email-form-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin-top: 50px;
}

.email-form-box label {
    color: var(--black);
    width: 100%;
}

.email-form-box label input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--black);
    width: 100%;
}

.email-text-area  {
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--black);
    width: 100%;
}

.btn-submit {
    background: var(--green);
    color: var(--ghostwhite);
    outline: none;
    border: 1px solid var(--ghostwhite);
    border-radius: 8px;
    padding: 12px 20px;
    width: 100%;
}

.btn-submit:hover {
    background: var(--pink);
}

.email-image-section {
    width: 59%;
    height: 100%;
    background-image: url(../images/1967-ford-mustang.webp);
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
}

.email-image-section p {
    font-size: 1.4rem;
    color: var(--whitesmoke);
    font-weight: 200;
    text-align: justify;
    width: 80%;
    background: rgba(0,0,0,0.1);
    padding: 15px 40px;
}