:root {

    --turquoise: rgb(174, 217, 217);
    --green: rgb(148, 195, 189);
    --red: rgb(194, 42, 34);
    --pink: rgb(228, 163, 170);
    --black: #070707;
    --white: #FFFFFF;
    --ghostwhite: ghostwhite;
    --whitesmoke: whitesmoke;
    --max-width: 1700px;
}

/* Box Model Hack */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
    font-size: 62.5%;
    font-family: 'Cherry Cream Soda', cursive;
}

body {
    background-color: var(--ghostwhite);
    color: var(--white);
}


/******************************************
/* Navigation Section
/*******************************************/

.navigation-header {
    width: 100%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    position: sticky;
    top: 0;
    background: var(--green);
}

.navigation {
    width: 100%;
    max-width: var(--max-width);
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo a img{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10%;
}

.nav-menu {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav-menu a {
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--white);
}

.nav-menu a:hover {
    color: var(--red);
}

.nav-menu .active {
    color: var(--red);
}


.hamburger, .close-hamburger{
    display: none;
}

.cart {
    padding: 0 20px;
    position: relative;
}

.cart-number {
    position: absolute;
    color: var(--red);
    font-size: 1.6rem;
    font-weight: 700;
}


/******************************************
/* Hero Section
/*******************************************/

.hero-container {
    width: 100%;
    height: 75vh;
    animation: heroBackground 20s infinite;
    animation-delay: 0;
}

@keyframes heroBackground {
    0% {
        background-image: url(../images/1957-chevy-bel-air.webp);
        background-size: cover;
        background-position: center;
    }
    25%{
        background-image: url(../images/1967-ford-mustang.webp);
        background-size: cover;
        background-position: center;
    }
    50% {
        background-image: url(../images/1959-cadillac-eldorado.webp);
        background-size: cover;
        background-position: center;
    }
    75% {
        background-image: url(../images/1962-lincoln-continental.webp);
        background-size: cover;
        background-position: center;
    }
    100% {
        background-image: url(../images/1957-chevy-bel-air.webp);
        background-size: cover;
        background-position: center;
    }
}

.hero-dark-overlay {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
}

.hero-text-container {
    height: 100%;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    gap: 15px;
}

.hero-text-container h1 {
    font-size: 4.8rem;
    max-width: 600px;
    padding-top: 30px;
}

.hero-text-container small {
    font-size: 2.4rem;
}

.hero-text-container button {
    font-size: 1.2rem;
    padding: 1.4rem 5.4rem;
    background: var(--green);
    color: var(--white);
    border: none;
    outline: none;
    border-radius: 5px;
}

.hero-text-container button:hover {
    background: var(--pink);
}

/******************************************
/* Fantastic Four
/*******************************************/

.f-section {
    width: 100%;
    padding: 100px 0;
}

.fantastic-four {
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.f-container {
    width: 800px;
    height: 47vh;
    background: red;
}
.f-container:nth-of-type(1) {
    background-image: url(../images/1952-ford-f150.webp);
    background-size: cover;
}
.f-container:nth-of-type(2) {
    background-image: url(../images/1957-chevrolet-bel-air.webp);
    background-size: cover;
}
.f-container:nth-of-type(3) {
    background-image: url(../images/1958-chevy-truck.webp);
    background-size: cover;
    background-position: bottom;
}
.f-container:nth-of-type(4) {
    background-image: url(../images/1971-ford-bronco.webp);
    background-size: cover;
}

.f-container-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to bottom, rgba( 0, 0, 0, 0.05), rgba( 0, 0, 0, 0.6));
}

.f-text-container {
    text-align: center;
    padding: 30px 0;
}

.f-text-container h3 {
    font-size: 1.4rem;
}

.f-text-container p {
    font-size: 3.2rem;
    padding-bottom: 30px;
}

.f-text-container a {
    font-size: 1.2rem;
    color: var(--white);
}

.f-text-container a:hover {
    color: var(--green);
}

/******************************************
/* Car Shows
/*******************************************/

.car-show-section {
    width: 100%;
    padding: 100px 0;
}

.car-show {
    border: 1px solid var(--pink);
    border-radius: 8px;
    margin: 50px;
}

.car-show h3 {
    font-size: 2.8rem;
    text-align: center;
    color: var(--red);
    padding: 30px 0;
}

.car-show-container {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.car-show-box {
    width: 100%;
    max-width: 350px;
    text-align: center;
    padding: 10px 0;
}

.car-show-box  img{
    width: 80%;
}

.car-show-box  h4{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--red);
    padding-bottom: 20px;
}

.car-show-box  button {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white);
    background: var(--turquoise);
    padding: 8px 16px;
    outline: none;
    border: solid 1px var(--white);
    border-radius: 4px;
}

.car-show-box  button:hover {
    background: var(--pink);
}

.car-show a {
    color: var(--green);
    font-size: 1.8rem;
    text-decoration: none;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    margin-top: 80px;
}

.car-show a:hover {
    color: var(--pink);
}

/******************************************
/* Hero Section
/*******************************************/

.models-container {
    width: 100%;
    height: 55vh;
    animation: modelsBackground 20s infinite;
    animation-delay: 0;
}

@keyframes modelsBackground {
    0% {
        background-image: url(../images/1957-chrysler-300.webp);
        background-size: cover;
        background-position: center;
    }
    25%{
        background-image: url(../images/1964-chevrolet-impala.webp);
        background-size: cover;
        background-position: center;
    }
    50% {
        background-image: url(../images/1970-road-runner.webp);
        background-size: cover;
        background-position: center;
    }
    75% {
        background-image: url(../images/1957-buick.webp);
        background-size: cover;
        background-position: center;
    }
    100% {
        background-image: url(../images/1957-chrysler-300.webp);
        background-size: cover;
        background-position: center;
    }
}

.models-dark-overlay {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
}

.models-text-container {
    height: 100%;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    gap: 15px;
}

.models-text-container h3 {
    font-size: 4.8rem;
    max-width: 600px;
    padding-top: 30px;
}

.models-text-container small {
    font-size: 2.4rem;
}

.models-text-container button {
    font-size: 1.2rem;
    padding: 1.4rem 5.4rem;
    background: var(--green);
    color: var(--white);
    border: none;
    outline: none;
    border-radius: 5px;
}

.models-text-container button:hover {
    background: var(--pink);
}

/******************************************
/* Detail Section
/*******************************************/

.details {
    width: 100%;
    padding: 100px 0;
    background: var(--whitesmoke);
}

.details h3 {
    font-size: 2.8rem;
    text-align: center;
    color: var(--red);
    padding-bottom: 30px;
}

.details-container {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.details-box {
    width: 100%;
    max-width: 350px;
    text-align: center;
    padding: 10px 0;
}

.details-box  img{
    width: 30%;
}

.details-box  h4{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--red);
    padding-bottom: 20px;
}

.details-box p {
    font-size: 1.8rem;
    color: var(--black);
    padding-bottom: 20px;
}

.details-box  button {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white);
    background: var(--turquoise);
    padding: 8px 16px;
    outline: none;
    border: solid 1px var(--white);
    border-radius: 4px;
}

.details-box  button:hover {
    background: var(--pink);
}
