:root {

    --turquoise: rgb(174, 217, 217);
    --green: rgb(148, 195, 189);
    --red: rgb(194, 42, 34);
    --pink: rgb(228, 163, 170);
    --black: #070707;
    --white: #FFFFFF;
    --ghostwhite: ghostwhite;
    --whitesmoke: whitesmoke;
    --max-width: 1700px;
    --heading: 4.8rem;
    --sub-heading: 3.6rem;
    --paragraph: 1.5rem;
}

/* Box Model Hack */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
    font-size: 62.5%;
    font-family: 'Cherry Cream Soda', sans-serif;
}

body {
    background-color: var(--ghostwhite);
    color: var(--white);
}


/******************************************
/* Navigation Section
/*******************************************/

.navigation-header {
    width: 100%;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    position: sticky;
    top: 0;
    background: var(--green);
    z-index: 10;
}

.navigation {
    width: 100%;
    max-width: var(--max-width);
    padding: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo a img{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50px;
}

.nav-menu {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 30px;
}

.nav-menu a {
    font-size: 1.7rem;
    text-decoration: none;
    color: var(--white);
}

.nav-menu a:hover {
    color: var(--red);
}

.nav-menu .active {
    color: var(--red);
}

.hamburger, .close-hamburger{
    display: none;
}

.cart {
    padding: 0 20px;
    position: relative;
    color: var(--white);
}

.material-symbols-outlined:hover {
    color: var(--red);
}

.active {
    color: var(--red);
}

/******************************************
/* Hero Section
/*******************************************/

.hero-container {
    width: 100%;
    height: 75vh;
    animation: heroBackground 20s infinite;
    animation-delay: 0;
}

@keyframes heroBackground {
    0% {
        background-image: url(../images/1957-chevy-bel-air.webp);
        background-size: cover;
        background-position: center;
    }
    25%{
        background-image: url(../images/1967-ford-mustang.webp);
        background-size: cover;
        background-position: center;
    }
    50% {
        background-image: url(../images/1959-cadillac-eldorado.webp);
        background-size: cover;
        background-position: center;
    }
    75% {
        background-image: url(../images/1962-lincoln-continental.webp);
        background-size: cover;
        background-position: center;
    }
    100% {
        background-image: url(../images/1957-chevy-bel-air.webp);
        background-size: cover;
        background-position: center;
    }
}

.hero-dark-overlay {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
}

.hero-text-container {
    height: 100%;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    gap: 15px;
}

.hero-text-container h1 {
    font-size: 4.8rem;
    max-width: 600px;
    padding-top: 30px;
}

.hero-text-container small {
    font-size: 2.4rem;
}

.hero-text-container a {
    font-size: 1.2rem;
    padding: 1.4rem 5.4rem;
    text-decoration: none;
    background: var(--green);
    color: var(--white);
    border: none;
    outline: none;
    border-radius: 5px;
}

.hero-text-container a:hover {
    background: var(--pink);
}

/******************************************
/* Fantastic Four
/*******************************************/

.f-section {
    width: 100%;
    padding: 100px 0;
}

.fantastic-four {
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}

.f-container {
    width: 700px;
    height: 49vh;
    border-radius: 8px;
}
.f-container:nth-of-type(1) {
    background-image: url(../images/1952-ford-f150.webp);
    background-size: cover;
}
.f-container:nth-of-type(2) {
    background-image: url(../images/1957-chevrolet-bel-air.webp);
    background-size: cover;
}
.f-container:nth-of-type(3) {
    background-image: url(../images/1958-chevy-truck.webp);
    background-size: cover;
    background-position: bottom;
}
.f-container:nth-of-type(4) {
    background-image: url(../images/1971-ford-bronco.webp);
    background-size: cover;
}

.f-container-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    background-image: linear-gradient(to bottom, rgba( 0, 0, 0, 0.05), rgba( 0, 0, 0, 0.6));
}

.f-text-container {
    text-align: center;
    padding: 30px 0;
}

.f-text-container h3 {
    font-size: 1.4rem;
}

.f-text-container p {
    font-size: 3.2rem;
    padding-bottom: 30px;
}

.f-text-container a {
    font-size: 1.2rem;
    color: var(--white);
}

.f-text-container a:hover {
    color: var(--green);
}

/******************************************
/* Car Shows
/*******************************************/

.car-show-section {
    width: 100%;
    padding: 100px 0;
}

.car-show {
    border: 1px solid var(--pink);
    border-radius: 8px;
    margin: 50px;
}

.car-show h3 {
    font-size: 2.8rem;
    text-align: center;
    color: var(--red);
    padding: 30px 0;
}

.car-show-container {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.car-show-box {
    width: 100%;
    max-width: 350px;
    text-align: center;
    padding: 10px 0;
}

.car-show-box  img{
    width: 80%;
}

.car-show-box  h4{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--red);
    padding-bottom: 20px;
}

.add-cart-button {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white);
    background: var(--turquoise);
    padding: 8px 16px;
    outline: none;
    border: solid 1px var(--white);
    border-radius: 4px;
    text-decoration: none;
}

.add-cart-button:hover {
    background: var(--pink);
}

.car-show > a {
    color: var(--green);
    font-size: 1.8rem;
    text-decoration: none;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: auto;
    margin-top: 80px;
}

.car-show > a:hover {
    color: var(--pink);
}

/******************************************
/* models container
/*******************************************/

.models-container {
    width: 100%;
    height: 55vh;
    animation: modelsBackground 20s infinite;
    animation-delay: 0;
}

@keyframes modelsBackground {
    0% {
        background-image: url(../images/1957-chrysler-300.webp);
        background-size: cover;
        background-position: center;
    }
    25%{
        background-image: url(../images/1964-chevrolet-impala.webp);
        background-size: cover;
        background-position: center;
    }
    50% {
        background-image: url(../images/1970-road-runner.webp);
        background-size: cover;
        background-position: center;
    }
    75% {
        background-image: url(../images/1957-buick.webp);
        background-size: cover;
        background-position: center;
    }
    100% {
        background-image: url(../images/1957-chrysler-300.webp);
        background-size: cover;
        background-position: center;
    }
}

.models-dark-overlay {
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
}

.models-text-container {
    height: 100%;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    gap: 15px;
}

.models-text-container h2 {
    font-size: 4.8rem;
    max-width: 600px;
    padding-top: 30px;
}

.models-text-container small {
    font-size: 2.4rem;
}

.models-text-container a {
    font-size: 1.2rem;
    padding: 1.4rem 5.4rem;
    background: var(--green);
    color: var(--white);
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 5px;
}

.models-text-container a:hover {
    background: var(--pink);
}

/******************************************
/* Detail Section
/*******************************************/

.details {
    width: 100%;
    padding: 100px 0;
}

.details h3 {
    font-size: 2.8rem;
    text-align: center;
    color: var(--red);
    padding-bottom: 30px;
}

.details-container {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
}

.details-box {
    width: 100%;
    max-width: 350px;
    text-align: center;
    padding: 10px 0;
}

.details-box  img{
    width: 30%;
}

.details-box  h4{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--red);
    padding-bottom: 20px;
}

.details-box p {
    font-size: 1.8rem;
    color: var(--black);
    padding-bottom: 20px;
}

.details-box  a {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--white);
    background: var(--turquoise);
    text-decoration: none;
    padding: 8px 16px;
    outline: none;
    border: solid 1px var(--white);
    border-radius: 4px;
}

.details-box  a:hover {
    background: var(--pink);
}

/******************************************
/* Footer
/*******************************************/

.footer {
    width: 100%;
    background: var(--green);
    padding: 20px;
    margin-top: 20px;
}

.top-footer-section {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--black);
}

.top-footer-container1 {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.footer-logo {
    padding: 20px 0;
    width: 100px;
    height: 100px;
}

.footer-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-contacts a{
    text-decoration: none;
    color: var(--black);
    font-size: 1.6rem;
}

.top-footer-container2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

.top-footer-container2 a {
    text-decoration: none;
    color: var(--black);
    font-size: 1.6rem;
}

.top-footer-container2 a:hover {
    color: var(--red);
}

.bottom-footer-section {
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 10px;
}

.bottom-footer-container p {
    font-size: 1.2rem;
    color: var(--red);
}

.bottom-footer-container ion-icon {
    font-size: 1.6rem;
    color: var(--black);
    padding: 10px;
}

.bottom-footer-container ion-icon:hover {
    color: var(--red);
}

/******************************************
/* Media Queries
/*******************************************/

@media screen and (max-width:1200px) {
    .nav-menu {
        width: 100%;
    }
    .details-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:1024px) {
    .car-show-container {
        align-items: flex-end;
    }
    
    .car-show-box {
        max-width: 190px;
        text-align: center;
    }
}

@media screen and (max-width:960px) {

    .hamburger {
        display: flex;
        align-items: center;
    }

    .closeham {
        display: none;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: var(--green);
        padding: 20px;
        border-radius: 0 0 0 8px;
    }
}

@media screen and (max-width:768px) {
    .hero-text-container h1 {
        font-size: 2.6rem;
    }

    .hero-text-container small {
        font-size: 1.8rem;
    }
    .models-text-container h2 {
        font-size: 2.6rem;
    }
    .models-text-container small {
        font-size: 1.8rem;
    }
    
    .fantastic-four {
        gap: 30px;
        padding: 0 30px;
    }
}

@media screen and (max-width:680px) {
    .f-container {
        width: 100%;
        height: 44vh;
    }
    .f-container:nth-of-type(1) {
        background-position: right;
    }
    .f-container:nth-of-type(3) {
        background-position: bottom left;
    }
    .f-text-container h3 {
        font-size: 1.2rem;
    }
    
    .f-text-container p {
        font-size: 2.4rem;
    }
    
    .f-text-container a {
        font-size: 1rem;
    }
}

@media screen and (max-width:600px) {
    .f-container {
        height: 42vh;
    }
}

@media screen and (max-width:570px) {
    .f-container {
        height: 38vh;
    }
}

@media screen and (max-width:520px) {
    .f-container {
        height: 35vh;
    }
}

@media screen and (max-width:480px) {
    .navigation {
        padding: 20px 0;
    }
    .cart {
        padding: 0;
    }
    section.fantastic-four {
        padding: 0 16px;
    }
    .f-text-container p {
        font-size: 2.8rem;
        padding-bottom: 10px;
    }
    .f-container {
        height: 32vh;
    }
    div.car-show {
        margin: 0 16px;
    }
    .car-show-section {
        padding-top: 0px;
    }
    .footer {
        padding: 20px 16px;
    }
    .footer-contacts a{
        font-size: 1.2rem;
    }
    .bottom-footer-container p {
        font-size: 1rem;
        width: 100px;
    }
    .bottom-footer-container ion-icon {
        font-size: 1.2rem;
        padding: 5px;
    }
}

@media screen and (max-width:450px) {
    .f-container {
        height: 28vh;
    }
}
@media screen and (max-width:410px) {
    .f-container {
        height: 24vh;
    }
    .f-text-container h3 {
        font-size: 1rem;
    }
    
    .f-text-container p {
        font-size: 1.6rem;
    }
    
    .f-text-container a {
        font-size: .8rem;
    }
    .car-show > a {
        font-size: 1.4rem;
    }
}

@media screen and (max-width:360px) {
    .car-show > a {
        font-size: 1.2rem;
    }
    .f-container {
        height: 20vh;
    }
    .f-text-container h3 {
        font-size: .8rem;
    }
    
    .f-text-container p {
        font-size: 1.2rem;
        padding-bottom: 5px;
    }
    
    .f-text-container a {
        font-size: .6rem;
    }
}

